<div class="container">

  <nav class="navbar navbar-expand-lg navbar-light bg-light ">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Quote App</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Quotes</a>
          </li>


        </ul>

        <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal">Create Quote</button>

      </div>
    </div>
  </nav>




  <div class="bg-image">

  </div>

</div>

<section>
  <div class="text-center text-success my-2">
    <h1>Quotes</h1>

  </div>
  <app-quotes [quotes]='quotes'>

  </app-quotes>

</section>




<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Post Quote</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <app-form (newQuoteEvent)="newQuote($event)"></app-form>

      </div>

    </div>
  </div>
</div>
