
 <div class="card mb-3 mx-4 my-4" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="../assets/bg.jpg" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Author Ted</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <div class="d-flex justify-content-around text-success">
            <p class="card-text text-success fw-bold"><small class="">21</small></p>
          <p class="card-text text-success fw-bold"><small class="">35</small></p>
          </div>
        </div>
      </div>
    </div>
  </div>