<div class="quotes row">
  <div  class="quote col-md-3 p-2 border">
    <h4 class="py-2">
      Teddy Omondi
    </h4>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facilis doloremque optio dolorem, quidem veniam hic inventore maiores sed esse aperiam.</p>
    <div class="votes d-flex justify-content-between">
      <div class="d-flex">
        <p>Upvote</p> <span class="text-success mx-2">12</span>
      </div>
      <div class="d-flex">
        <p>DownVote</p> <span class="text-danger mx-2">43</span>
      </div>
    </div>
  </div>
</div>
